useDynLib(PET)

export(
cutMatrix, 
hough, 
iniPetFifList, 
iradon, 
iradonIT, 
iradon_smoothed,
test_vec,
Backproj_R,
Backproj_R_shrinked,
Gausfilter_test,
markPoisson, 
norm, 
partEllipse, 
phantom, 
radon, 
readData, 
readSifData, 
rotate, 
scaleImage, 
viewData, 
writeData
)

import(adimpro)

importFrom("grDevices", "dev.new", "dev.cur", "dev.set", "gray")
importFrom("graphics", "image", "par", "title")
importFrom("stats", "quantile", "runif")
importFrom("utils", "flush.console", "read.table", "write.table")
